.weektheme {
	background-color: #404040;
	color: white;
	padding: 10px 20px 15px 20px;
}

.button {
    background-color: white;
    color: ffcc00;
    padding: 10px 55px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    margin: 0px 10px;
    float: none;
}

.mediumtext {
	font-weight: bold;
	font-size:  18px;
	display: inline;
    vertical-align: middle;
    text-indent: 40px;
}

.p2pbanner {
	padding: 30px;
}

.p2pinner {
    width: 550px;
	margin-left: auto;
    margin-right: auto;
}